.cursor {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  contain: layout style size;
  pointer-events: none;

  .blend-mode {
    z-index: 100;
    mix-blend-mode: exclusion;
    .cursor-media {
      filter: invert(1);
    }
  }

  &::before {
    z-index: 10;
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0.2);
    background: black;
    border-radius: 50%;
  }

  .cursor-media {
    display: block;
    height: 350px;
    width: 350px;
    z-index: 100;
    overflow: hidden;
    border-radius: 100%;
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;

    &:nth-child(2) {
      margin: -350px 0 0 -175px;
    }
    &:nth-child(3) {
      margin: -350px 0 0 -175px;
    }

    video {
      height: 350px;
    }
  }
}
